.item-add {
    padding: 10px 0px 0px 10px;
}

.Upload {
    border: 2px black solid;
    display: block;
    position: relative;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 10px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: black;
    border-radius: 5px;
    transition: all 0.2s ;
    cursor: pointer;
}