.header {
	background-color: yellowgreen;
	border-radius: 10px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
	margin: 0 0 20px 0;
}

.auction-title {
	margin: 0px 10px;
	padding: 5px 0 0 0;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.Oneline {
	margin: 5px 0 5px 0;
	border: 1px solid black;
}

.mypage-icon {
	font-size: 20px;
}